<p>
  <mat-toolbar color="accent">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>


<main>
  <mat-card>
    <mat-card-content>
      <img width="120px" src="https://angular.io/assets/images/logos/angular/angular.svg" alt="">
      <mat-form-field color="accent">
        <form action="">
          <input type="text" matInput placeholder="title" #title>
        </form>
      </mat-form-field>

      <mat-select placeholder="Album Id" #albumId>
        <mat-option *ngFor="let id of albumsId" value="id">
          {{ id }}
        </mat-option>
      </mat-select>

      <mat-form-field color="accent">
        <input type="text" matInput placeholder="URL" #url>
      </mat-form-field>

      <button mat-button mat-flat-button color="accent">
        save
      </button>

    </mat-card-content>
  </mat-card>

  <app-photos></app-photos>
</main>